*{
    font-family: 'NotoSans', sans-serif;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #EDF2C5;
    margin: 0;
}

header{
    color: #778A50;
    width: 1122px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 10px;
}

.header_texts{
    width: 208px;
    height: 24px;
    display: flex;
    flex-direction: row;
    margin: 0%;
}

#Insta_icon{
    padding-left: 10px;
}

#line_header{
    border-right:1px solid #7D7D7D;
    padding-left:10px;
}

#Login{
    display: flex;
    width: 62px;
    height: 27px;
    padding: 3px 8px 4px 4px;
    border: 1px solid #778A50;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    border-radius: 3px;
    margin-left: 11px;
    margin-right: 14px;
    align-items: center;
}

#Join{
    display: flex;
    width: 49px;
    height: 27px;
    padding: 3px 8px 4px 5.5px;
    border: 1px solid #778A50;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    border-radius: 3px;
    align-items: center;
}

h1{
    font-size: 44px;
    font-weight: 900;
    margin: 0%;
}

nav{
    background-color: #778A50;
    width: 1120px;
    height: 44px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.nav_btns{
    display: flex;
    flex-direction: row;
}

.nav_btns p{
    color: #EDF2C5;
    font-size: 16px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    margin: 0px;
    padding: 10px 35px 10px 30px;

}

article{
    width: 1120px;
    height: 681px;
    margin-bottom: 130px;
}

footer{
    background-color: #778A50;
    color: #EDF2C5;
    font-size: 12px;
    width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
    justify-content: center;
}

h2{
    background-color: #778A50;
    width: 528px;
    height: 45px;
    border-radius: 3px;
    color: #EDF2C5;
    font-size: 16px;
    font-weight: 900;
    padding-left:30px;
    line-height: 43px;
}

.box_c_content{
    background-color: #F7FBDA;
    width: 528px;
    height: 140px;
}

#line_c_paragraph{
    border: 1px solid #7D7D7D;
    width: 496px;
}

p.box_c_paragraph{
    font-size: 12px;
    color: #7D7D7D;
    line-height: 18px;
    padding-left: 16px;
    padding-top: 12px;
}
p.box_c_paragraph2{
    font-size: 12px;
    color: #7D7D7D;
    line-height: 18px;
    padding-left: 16px;
    padding-top: 1px;
}

.box_v_content img{
    margin-right: 11.5px;
    flex-direction: row;
}
.box_v_content img:last-child{
    margin-right: 0px;
}

.box_veg{
    background-color: #EDF2C5;
    width: 528px;
    height: 201px;
    float:left;

}

.box_contact{
    background-color: #EDF2C5;
    width: 528px;
    height: 201px;
    float:right;
}

.main_area{
    margin-top: 17px;
}

.main_area::after{
    content: "";
    display:block;
    clear:both;
    margin-bottom: 30px;
    
}
